NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ARDEX_PROGRAM_ID=11111111111111111111111111111111
NEXT_PUBLIC_USDC_MINT_DEVNET=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_PYTH_HERMES_URL=https://hermes.pyth.network
NEXT_PUBLIC_PYTH_SOL_USD_FEED_ID=
NEXT_PUBLIC_PYTH_BTC_USD_FEED_ID=
